/.next/
/node_modules
/out/
*.pem
*.tsbuildinfo
.DS_Store
.env*
.partykit
.vercel
.wrangler
certificates
next-env.d.ts
out

# my source content is offline-only
headshot.avif
/_posts/

# Developer Font License not for redistribution
TX-02-Variable.woff2
