@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-BerkeleyMono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* used by LoadingDots */
@keyframes appear {
  to {
    opacity: 1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.far-away {
  opacity: 0.8;
  filter: grayscale(0.8);
  transition:
    opacity 200ms ease-out,
    filter 200ms ease-out;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  will-change: transform;
  contain: strict;
  visibility: hidden;

  color: var(--color-gray-500);

  /*  2.25rem = 36px @16px/rem */
  contain-intrinsic-size: 250px 2.25rem;

  /* initial value */
  transform: translate(0, -2.25rem);
}

/* styles for posts */
/* TODO: try making the box shadow look more like ░ */
.window {
  box-shadow: 1rem 1rem 0 0 rgb(160 160 160 / 40%);
  .window--content {
    @apply min-h-full pt-5;
    a {
      @apply text-blue-500 hover:underline;
    }
    h1 {
      @apply pt-6 font-mono font-semibold text-lg;
    }
    ul {
      @apply pb-1 pl-6 list-inside list-disc;
    }
    ol {
      @apply pb-1 pl-6 list-inside list-decimal;
    }
    table {
      @apply w-full table-auto text-sm border;
    }
    th {
      @apply border-b font-medium font-bold;
    }
    p > code,
    td > code {
      @apply px-1 text-xs whitespace-break-spaces bg-gray-600 rounded-xs;
    }
  }
  section[data-footnotes] {
    h2 {
      @apply hidden;
    }
    ol {
      @apply p-0  list-inside list-none;
      li {
        @apply pt-2 pl-8;
        &:first-of-type {
          counter-reset: list 0;
        }
        &::marker {
          @apply hidden;
        }
        &::before {
          @apply inline-block w-7 font-mono text-sm;
          content: "[" counter(list) "]";
          counter-increment: list;
          margin-left: -2rem;
        }
        p {
          @apply inline;
        }
      }
    }
  }
}

/* custom scrollbars */
.ScrollbarsCustom {
  @apply w-full h-full min-h-14;

  .ScrollbarsCustom-Wrapper {
    @apply top-0 right-0 bottom-0 left-0;
  }

  .ScrollbarsCustom-Content {
    @apply h-full;
  }

  .ScrollbarsCustom-Track {
    @apply absolute px-2 bg-white/10;
    &:hover > .ScrollbarsCustom-Thumb {
      @apply bg-gray-200;
    }
  }

  .ScrollbarsCustom-TrackX,
  .ScrollbarsCustom-TrackY {
    &::before,
    &::after {
      @apply absolute text-center font-mono text-gray-400;
    }
  }

  .ScrollbarsCustom-TrackX {
    @apply h-4 w-full px-6 bottom-0 left-0;
    &::before,
    &::after {
      @apply h-full bottom-0 leading-none;
    }
    &::before {
      @apply left-1;
      content: "←";
    }
    &::after {
      @apply right-1;
      content: "→";
    }
  }

  .ScrollbarsCustom-TrackY {
    @apply h-full w-2 py-6 top-0 right-0;
    &::before,
    &::after {
      @apply w-full right-0 leading-6;
    }
    &::before {
      @apply top-0;
      content: "↑";
    }
    &::after {
      @apply bottom-0;
      content: "↓";
    }
  }

  .ScrollbarsCustom-Thumb {
    @apply bg-gray-400 cursor-pointer;
    &:hover,
    &.dragging {
      @apply bg-gray-200;
    }
  }

  .ScrollbarsCustom-ThumbX {
    @apply h-full relative;
  }

  .ScrollbarsCustom-ThumbY {
    @apply w-2 relative right-1;
  }

  &.trackXVisible > .ScrollbarsCustom-Wrapper {
    @apply bottom-5;
  }

  &.trackYVisible > .ScrollbarsCustom-Wrapper {
    @apply right-5;
  }

  &.trackXVisible.trackYVisible {
    &::after {
      @apply absolute right-0 bottom-0 h-4 w-4 bg-white/10;
      content: "";
    }
    .ScrollbarsCustom-TrackX {
      @apply w-[calc(100%-1rem)];
    }
    .ScrollbarsCustom-TrackY {
      @apply h-[calc(100%-1rem)];
    }
  }
}
