<div id="vcard" itemscope itemtype="http://schema.org/Person">
  <div class="grid--center grid--middle">
    <div class="grid__item desk-one-half lap-one-half palm-one-whole">
      <h1 class="hero__title reveal" itemprop="name">Theo Pak</h1>
      <p class="lede reveal" style="transition-delay:150ms;"><%= site_description %></p>
      <p class="lede reveal" style="transition-delay:500ms;">I'm a <span itemprop="jobTitle">software developer</span> in Troy, NY. I’ll&nbsp;graduate from Rensselaer Polytechnic Institute in May 2015.</p>
    </div><!--
    --><div class="grid__item desk-one-half lap-one-half palm-one-whole">
      <img class="reveal" style="transition-delay:0ms;" itemprop="image" alt="Theo Pak" src="/assets/images/theopak-headshot.jpg" />
    </div>
  </div>
</div>
<!-- <hr class="separator" /> -->