/**
* style.scss
* Theo Pak <mail@theopak.com>
*/


/* SASS PREPROCESSOR ====================================================== */
@mixin vertical-align {
  // <zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/>
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* NORMALIZATION, ETC ===================================================== */
@import "vars";
@import "inuit.css/inuit";
@import "animate-custom.css";
@import "nprogress.css";
@import "entypo.css";


/* GLOBAL COMPONENTS ====================================================== */
body {
  line-height: 1.375em;
  text-rendering: optimizeLegibility;
}
::selection {
  background: #add1ed;  // LOL
  text-shadow: none;
  color: $brand-color;
}
a {
  cursor: pointer;
  color: $active-color;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}
pre, code {
  font-family: $code-face;
}
.disable-hover, .disable-hover * {
  // Improves scroll performance (especially on mobile).
  // Refer to <thecssninja.com/javascript/pointer-events-60fps>
  pointer-events: none !important;
}
img.loading {
  opacity: 0.3;
}
#taglineTyper {
  min-height: $base-line-height;
}


/* HEADER ================================================================= */
#header {
  padding: 1em 20px;
  background-color: $base-ui-color;
  color: $base-color;
  .media__img {
    margin-right: 10px;
  }
  h1 {
    //border: 1px solid $brand-color;
    font: 100 1.75em/46px $brand-face;
    text-transform: uppercase;
    //background: white url(../img/ocean.jpg) repeat center;
    //-webkit-text-fill-color: transparent;
    //-webkit-background-clip: text;
    //text-shadow: 0 0 3px black;
    white-space: nowrap;
  }
  .nav {
    a {
      color: $brand-color;
      font: 100 1em/2em $brand-face;
      text-transform: lowercase;
      .entypo, .entypo-social {
        display: inline-block;
        visibility: hidden;
        margin-right: 0;
        padding: 0 5px 0 0;
        width: 25px;
        vertical-align: middle;
        font-size: 1.5em;
        text-align: right;
      }
      &:hover, &.current {
        .entypo, .entypo-social {
          visibility: visible;
        }
      }
    }
  }
}


/* CONTENT BODY =========================================================== */
.fullscreen-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #BADA55 url(../img/ocean.jpg) repeat center center fixed;
}
.wrapper {
  padding: 0 20px;
  background-color: $brand-color;
}
section, footer {
  margin: 4em 0 1em;
  padding: 1em 20px;
  min-width: 240px;
  max-width: 960px;
  background-color: $brand-color;
  //border: 1px solid lighten($brand-color, 50);
  //box-shadow: 0 0 14px $base-ui-color;
}
.coversheet {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 2.75em 0 1em;
  min-height: 100vh;
  background: transparent;
  border: none;
  box-shadow: none;
  color: $brand-color;
  .gw, .grid-wrapper {
    margin-bottom: $base-line-height;
  }
  h1, h2, h3, h4, h5, p, .nav {
    display: inline-block;
    background-color: $base-ui-color;
    opacity: 0.8;
    margin: 0;
    padding: 5px 20px;
  }
  h1 {
    margin-bottom: 0;
    font: 100 3em $brand-face;
    text-transform: uppercase;
  }
  h2 {
    font: 1.75em $code-face;
  }
  p {
    background-color: $base-ui-color;
    text-align: justify;
  }
  .nav {
    padding-top: 0;
    background: transparent;
    font-size: 2.5em;
    a {
      color: $brand-color;
      text-decoration: none;
      &:hover {
        color: $active-color;
      }
    }
  }
}
footer {
  margin-left: 0;
  margin-right: 0;
  padding: 0.375em 20px 1em;
  background: transparent;
  border: none;
  box-shadow: none;
  color: lighten($base-ui-color, 50);
  text-align: justify;
  p {
    border-top: 1px solid lighten($base-ui-color, 50);
  }
  a {
    font-weight: bold;
    color: lighten($base-ui-color, 50);
    &:hover {
      color: $active-color;
    }
  }
  &:hover {
    color: lighten($base-ui-color, 30);
    a {
      color: lighten($base-ui-color, 10);
    }
  }
}


/* RESPONSIVE STYLES ====================================================== */
@include media-query(desk) {
  .wrapper {
    //box-sizing: border-box;
    margin: 0;
    padding-left: 250px;
    height: 200vh;  // (?)
  }
  #header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 4em 0 1em 20px;
    width: 250px - 30px;
    .nav a {
      padding-left: 54px - 25px;
    }
  }
}
