/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:          true;  // jsfiddle.net/inuitcss/CLYUC
$use-flexbox:       false;
$use-columns:       false;
$use-nav:            true;  // jsfiddle.net/inuitcss/Vnph4
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:          true;  // jsfiddle.net/inuitcss/cf4Qs
$use-marginalia:     true;
$use-island:         true;  // jsfiddle.net/inuitcss/u8pV3
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:   true;   // jsfiddle.net/inuitcss/rt9M3
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:      true;  // jsfiddle.net/inuitcss/Q6Lbf
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:          true;
$use-stats:         false;
$use-greybox:       false;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$base-font-size:    12pt;
$base-line-height:  1.6 * $base-font-size;
$base-font-family:  'Vollkorn','Baskerville',sans-serif;
$base-ui-color:     #333;       // Default colour for objects’ borders etc.
$brand-color:       #222;
$brand-face:        'Avenir Next','Proxima Nova','Helvetica Neue',Helvatica,Arial,sans-serif,$base-font-family;
$brand-round:       50%;        // Rounded corner radius. 50% makes circles.
$color-links:       #428bca;
$color-small: lighten($base-ui-color, 30);
$color-bg:          #eef2f3;
// $color-bg:			#e5e0db;
$color-fg:          #fafafa;

$responsive:        true;
$responsive-extra:  true;
$lap-start:          680px;     // default  481px
$desk-start:         960px;     // default 1024px
$desk-wide-start:   1200px;     // default 1200px
$gutter:              24px;     // default   24px
$use-silent-classes:false;


/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
$base-color:        #fafafa;      // My default for backgrounds etc.
$code-face:         'Anonymous Pro',monospace,serif;